@charset "utf-8";
.pairinput {
    padding: 8px 15px;
    border: solid 1px #cacaca;
    width: 15vw;
    float: left;
}

.formdevice .btn {
    width: auto;
    border-radius: 0px;
}

.castdetails {
    position: absolute;
    z-index: 999;
    
    font-family: 'WickedGrit', sans-serif;
    bottom: 50px;  
    left:10px;
}
.casttitle {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
     font-family: 'WickedGrit', sans-serif;

}

.slick-prev{ top:95vh !important;  left:70vw !important; width:30px !important; height: 30px !important;}

.slick-next{ width:30px !important; height: 30px !important; top:95vh !important; left:82vw  !important; }

.titleName{
    font-size: 3vh;
    font-weight: bold;
    color: #fff;
     font-family: 'WickedGrit', sans-serif;
    /* margin-left: 2.5vw;*/
}
.castname{
    font-size: 3vh;
    font-weight: bold;
    font-family: 'WickedGrit', sans-serif;
    color: #e81d29;
    margin-left: 2.5vw;
}
.plus {
     color: #e81d29 !important;
}

.scontainer .slick-prev::before {
    font-family: FontAwesome;
    content: "\f104";
    font-size: 22px;
}

.menu_top{ float:right;}

.menu_top li { float:left;}

.cst_sb { color:#e81d29; font-size:18px;}
/*.scontainer .slick-prev { left: 73vw !important;}
.scontainer .slick-next {     left: 76.5vw !important;}*/
.cst_btn {     position: absolute;
    z-index: 9999;     width: 115px;
    left:78%;
    top: 30%;}
.slick-next {     display: block; position:absolute;}
.slick-prev {     display: block;  position:absolute;}
.flm_mkr { color:#e81d29;}
.slider .slick-prev, .slider .slick-next { background:none !important;}
.scontainer .slick-slider { background-size: cover !important; background-position:bottom right;}

.scontainer .slick-slide img{ height:90vh !important; margin-left:-108px;}









@media (min-width:769px)and (max-width:1024px) {
 .logo_landing {     width: 34vw;}
 #head_navigation {     font-size: 0.7em;}

/* .storyLogo {
    width: 30%;
}*/
.shareIcons{width: 25px;
    height: 25px;}

 }



@media (min-width:768px)and (max-width:1279px) { 

.logo_landing p a { padding: 11px 17px;}

.drt .drt_nm { margin-top:10px;}
}

@media (min-width:768px)and (max-width:1169px) {
	
.slider .slick-prev, .slider .slick-next{ background-color:transparent !important;}
.closebt_cont {     left: 16px;}
.cst_btn { left: 56%; top: 76%; }



}

 @media (min-width:320px)and (max-width:768px) {
.webdesign {
    display:none
}
.mobiledesign {
    display:block
}
    
	 .pairinput {     width: 60vw;}
 }
@media (min-width:376px)and (max-width:767px) {

.shareIcons{width: 20px;
    height: 20px;}
}
@media (min-width:480px)and (max-width:549px) {
.webdesign {
    display:none
}
.mobiledesign {
    display:block
}
   .navbar-brand {
    margin-left: 33vw !important;
}
/*.logo_landing{            
    width: 52vw;
    height: 39vh;
    margin-right: 3vw;
    margin-top: 40vh !important;

}
.logo_landing h2 {     font-size: 0.8em;
    color: #fff;
    margin-top: 3vh;}
.logo_landing h3 {     font-size: 0.6em;
    color: #fff;
    margin-top: 13vh;}
.logo_landing h4 {     font-size: 0.9em;
    text-align: center;
    margin-top: 4vh;
    color: #fff;}
.logo_landing p {     margin-top: 4vh;}
.logo_landing p a {     padding: 10px 15px;}*/

.storyLogo {
    width: 30%;
}


.cst_btn {     left: 72% !important; top: 56%;}
.casttitle { font-size:22px;     margin-top: 0}
.drt {
    width: 432px;
}

@media (min-width:376px)and (max-width:479px) {

.webdesign {
    display:none
}
.mobiledesign {
    display:block
}

/*	.logo_landing h2 {
    font-size: 0.7em;
    margin-top: 1vh;
}
.logo_landing h3 {
    font-size: 0.6em;
    margin-top: 11.5vh;
}
.logo_landing h4 {
    font-size: 0.9em;
    margin-top: 4vh;
}
.logo_landing {
    height: 40vh;
}
.logo_landing p a { font-size: 14px;}*/
	}
@media (min-width:376px)and (max-width:479px) {

	.casttitle { font-size:24px;     margin-top: 5px;}

.titleName { font-size:17px;}

.drt .cst {
    font-size: 17px;
}
.drt { width:315px;}
.drt .drt_nm { font-size:15px; margin-top: 0px;}
.slick-prev, .slick-next { width:25px;}
	}

	
@media (min-width:321px)and (max-width:375px) {


.drt .drt_nm { font-size:16px; margin-bottom:0px;     line-height: 17px;}

.cst_btn {
    left:68%;
        top: 52%;
}
.drt .cst { font-size:17px;}
.titleName { font-size:16px; margin-bottom:0px;}
.slider .slick-prev, .slider .slick-next{ background-color:transparent !important;}


/*.scontainer .slick-prev{ left: 24vw !important;
    top: 76vh !important;}*/
.casttitle{ font-size:20px; margin-top:5px;}
.castname { font-size:16px;}

/*.scontainer .slick-next{left: 33.5vw; top: 76vh !important;}*/


.thumbdoc .playIcn {
    margin-left: 17vw;
}
.shareIcons{width: 20px;
    height: 20px;}

}


@media (min-width:300px)and (max-width:320px) {

.webdesign {
    display:none
}
.mobiledesign {
    display:block
}   

.thumbdoc .playIcn {
    margin-left: 17vw;
}

.slider .slick-prev, .slider .slick-next{ background-color:transparent !important;}


/*.scontainer .slick-prev{  height:32px !important; left: 24vw !important;
    top: 76vh !important;
    width: 26px !important;}*/

/*.scontainer .slick-next{left: 36.5vw !important; top: 76vh !important; width:26px !important; height:32px !important;}*/

.casttitle{ font-size:4vh;}




.drt .drt_nm { font-size:16px;     margin-top: 9px; margin-bottom:0px;     line-height: 16px;}
.drt { width: 300px;}
.cst_btn {
    left:76%;
        top: 52%;
}
.drt .cst { font-size:17px;}
.titleName { font-size:16px; margin-bottom:0px;}



/*.scontainer .slick-prev{ left: 24vw !important;
    top: 76vh !important;}*/
.casttitle{ font-size:20px; margin-top:5px;}
.castname { font-size:16px;}
}
