@charset "utf-8";
/* CSS Document */

#a0-onestep .a0-header {
 background:#141414 !important;
}

#a0-onestep .a0-header  .a0-bg-gradient {
 position:inherit !important;
}

#a0-onestep .a0-body-content { background:#1a1a1a !important; }
#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel { background:#1a1a1a !important; }

#a0-lock.a0-theme-default .a0-switch span { color:#fff !important;}

.a0-primary { background:#ed1c24 !important; bottom:0px !important;;}

#a0-lock.a0-theme-default .a0-panel .a0-close { background:#434343 !important;
    border: 6px solid #434343 !important; }

#a0-lock.a0-theme-default .a0-panel .a0-email input, #a0-lock.a0-theme-default .a0-panel .a0-password input, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input, #a0-lock.a0-theme-default .a0-panel .a0-username input {

 background-color: #1d1d1d !important;
 color: #ddd !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box {
 background:#343434 !important;
     border: 1px solid #343434 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-all, #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color:#ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-separator {
color:#ddd !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color:#ddd !important;
}

.a0-footer {
    display:none !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-mode-container {
    background: #1a1a1a !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-sso-notice-container {
    background: #1a1a1a !important;
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode {
    background: #1a1a1a !important;
}

.a0-close svg polygon { fill:#fff !important; }


#a0-lock .a0-overlay.a0-active{
    overflow-y: scroll !important;
    display: block !important;
}
.a0-lock-open{
    overflow: hidden !important;
}
#a0-lock .a0-overlay.a0-active .a0-centrix{
    display: block !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-action button:after
{
position: inherit !important;
margin-left: 50% !important;
}
#a0-lock.a0-theme-default .a0-panel button.a0-primary{
    position: inherit !important;
}
#a0-lock.a0-theme-default .a0-zocial.a0-aol {
    background-color: #0861A8;
    color: #fff;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img {
  display:none !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image {
  background-image: url(https://s3.amazonaws.com/peafowl/aeom/logo.png) !important;
    background-size: 125px 125px !important;
    background-repeat: no-repeat !important;
  background-position: center !important;
    height: 125px !important;
}
#a0-lock.a0-theme-default .a0-popup .a0-overlay
{
  background-color: #141414 !important;

}

* { box-sizing:border-box; -webkit-box-sizing:border-box;}

body{ margin:0; padding:0;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;

font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased; background-color:#000; }

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wickedgrit';
    src: url('../fonts/wickedgrit/WickedGrit.eot');
    src: url('../fonts/wickedgrit/WickedGrit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wickedgrit/WickedGrit.woff') format('woff'),
         url('../fonts/wickedgrit/WickedGrit.ttf') format('truetype'),
         url('../fonts/wickedgrit/WickedGrit.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/Raleway.eot');
    src: url('../fonts/raleway/Raleway.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/Raleway.woff') format('woff'),
         url('../fonts/raleway/Raleway.ttf') format('truetype'),
         url('../fonts/raleway/Raleway.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_semibold';
    src: url('../fonts/raleway_semibold/raleway_semibold.eot');
    src: url('../fonts/raleway_semibold/raleway_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_semibold/raleway_semibold.woff') format('woff'),
         url('../fonts/raleway_semibold/raleway_semibold.ttf') format('truetype'),
         url('../fonts/rraleway_semibold/raleway_semibold.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura.eot');
    src: url('../fonts/futura/futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura.woff') format('woff'),
         url('../fonts/futura/futura.ttf') format('truetype'),
         url('../fonts/futura/futura.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_med';
    src: url('../fonts/futura_med/futura_med.eot');
    src: url('../fonts/futura_med/futura_med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_med/futura_med.woff') format('woff'),
         url('../fonts/futura_med/futura_med.ttf') format('truetype'),
         url('../fonts/futura_med/futura_med.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




h1, h2, h3, h4, h5, h6, ul{ font-family:'WickedGrit', sans-serif; font-weight:normal;}

p{ font-family:'opensans', sans-serif; font-weight:normal;}
.nogap{ padding:0 !important; margin:0 !important;}
.brd{ border:1px solid #f00;}
.container_aeom{ width:80%; margin:0 auto; padding:0;}

.whitetxt{ color:#fff !important;}

.gal_thumb{ width:100% !important; display:inline-block;}

.bot_marg{ margin-bottom:30px !important;}
.top-marg{ margin-top:60px;}

.Tenmargin{ margin:0 10px 50px 10px;}

.txtCenter{ text-align:center;}

.blackBg{ background-color:#000;}

.fullHeight{ min-height:100%;}

::selection{ background-color:#e81d29;}

.mynav{ border-radius:0; height:auto !important; background-color:#000 !important; min-height:70px; position: fixed;
    width: 100%; z-index:99999; }

#head_navigation{ font-size:15px; margin-top:-16px; display:none; width:100% !important; background-color: #000;}
#head_navigation li{ margin-right:10px; border-bottom:1px solid #101010; float: none;}

#head_navigation li:first-child{ border-bottom:1px solid #101010; }
#head_navigation li a{ color:#fff; transition:all ease-out 0.2s;}
#head_navigation li a:hover, .active{ color:#e81d29; transform:scale(1.05); border-left:12px solid #f00;}


.headLogo{ display:table; margin:10px 0px 0 59px; width:125px;}




.logo_landing{ position: absolute; right:0; bottom:2%; text-align:center; width:300px; padding: 20px;}
.logo_landing img{ display:inline-block;}

.logo_landing h4{ text-align:center; color:#fff;}

.wtchTrialBtn{     
 width: 227px;
    height: 50px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 5px;
    line-height: 45px;
    margin-top: 15px;
 color:#fff;
 font-family:'wickedgrit', sans-serif;
 font-weight:600;
 text-decoration:none;
 }



input[type=text] {
        width: 180px;
    box-sizing: border-box;
  margin-left: 15px;
    font-size: 16px;
    /*background-color: #151515;*/
    background-color:transparent;
    background-image: url(../img/search.png);
    background-position: 96% 50%;
    border:0;
    background-repeat: no-repeat;
    padding: 10px 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  border-radius:0;
  outline:none;
  border-bottom: 1px solid #333;
  
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
  outline:none !important;
  box-shadow:none;
  background-position: 96% 50%;
  border-bottom: 1px solid #e81d29;
    
}


.menu_top{ float:right;}

.menu_top li { float:left;}

.content{ width:100%; height:100vh; padding:70px 0 0 0; background-image:url('../img/homeBg.jpg'); background-size:cover; background-color:#000; background-repeat:no-repeat;}

.content_inner{ width:100%; min-height:100vh; height:auto; padding:70px 0 0 0; background-size:cover; background-color:#000; background-repeat:no-repeat; background-position:50%; overflow-y:hidden; background-attachment:fixed;}





.htauto{ height:auto !important;}

.closebt_cont{ position:absolute; left: 14px;
    top: 20px; display: inline-block;
    cursor: pointer; }

.user{ padding:10px; display:block; position:absolute; right:14px; top:8px; color: #fff;
    transition: all ease-out 0.2s;}



.uAvatar{ display:none; }
.joinbtn {
  font-family:'wickedgrit', sans-serif; color:#fff; text-decoration: none; font-size: 16px; display: inline-block;

}

.width45{ width:45px; }

.wtcolor{
  color: #fff !important;
}
.joinbtn:hover, .joinbtn:visited, .joinbtn:active{ color: #f00 !important; text-decoration: none !important; }
.userimg{ display:block; border:3px solid #fff;}


.disabled{Cursor:text !important; Text-Decoration: None !important; 
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
  border-radius:2px;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -4px) ;
    transform: rotate(45deg) translate(-7px, -4px) ;
}



.sidepos{left: -85px !important}

.logout{ color:#e81d29 !important; }
.hd{display:none;}

.galImg{ position:relative; display:block; outline:5px solid transparent; outline-offset:-10px;}
.overlay{ position:absolute; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0); transition:all ease-out 0.2s; }
.overlay:hover{ background-color:rgba(0,0,0,0.6);}
.galImg h4{ position:absolute; display:inline-block; color:#fff; bottom:7px; left:24px; letter-spacing:2px; font-size:1.5em;}
.galleryBg{  background-image:url('../img/galleryBg.jpg');}

.appBg{  background-image:url('../img/appBg.jpg');}

.storyBg{ background-image:url('../img/storyBg.jpg'); }



.aeom_container{ width:90%; margin:0 auto;}

.aeomthumb{ background-color:transparent; border:0 !important;}

.left_ctrl{ position:absolute; left:85%; top:45%; z-index:9;}
.right_ctrl{ position:absolute; right:15%; top:45%; z-index:9;}

.nobg{ background-color:transparent !important;}

.img_desc{ width:300px;}

.apphead{ text-align: center;
    color: #d9242f;
    font-size: 55px;
    margin-top: 54px;}
.appsubhead{ text-align:center; color:#fff; font-family:'raleway_semibold'; margin-top:3%; font-size:32px; margin-bottom:20px;}
.apptxt{ text-align:center; font-family:'opensans', sans-serif; color:#fff; font-size:18px; font-weight:500; margin-top:3%; padding:0 10%;}


.appbtn{ width:100%; height:auto; display:block; text-decoration:none; border:1px solid rgba(255,255,255,0.5); background-color:rgba(0,0,0,0.5); transition:all 0.2s ease-out; margin:auto; margin-bottom:20px;}
.appbtn:hover{ transform:scale(1.05); border:1px solid rgba(255,255,255,0.9);}

.apptitle{ text-align: center;
    position: absolute;
    display: block;
    bottom: 26px;
    width:100%;
    color: #fff;
    font-family: 'raleway_semibold';
    z-index: 9;}
.appbtnimg{ width:100%; position:relative; }
.appbtnContainer{ width:75%; margin:0 auto 30px auto;}
.devicebtnContainer{ width:90%; margin:0 auto 30px auto;}

.appdeschead{ text-align:center; color:#fff; font-family:'futura_med'; margin-top:3%; font-size:40px; margin-bottom:20px; -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

.appleLogo{ width:73px; margin-top:50px;}

.tvos_fit{ width:85%; display:inline-block !important;}

.stBg{  background-image:url('../img/stBg.png');}

.appiosCont{ width:90%; margin:30px auto 0 auto;}

.iappstorebtn{ width:233px; height:79px; background-image:url('../img/iAppStoreLogo.png'); display:block; margin:50px auto; background-size:100%; transition:all ease-out 0.2s;}

.iappstorebtn:hover{ transform:scale(1.1);}

.top_marg{ margin-top:30px;}
.padthty{ padding:30px; box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}

.bgGlow{ -webkit-filter: drop-shadow(1px 1px 80px rgba(255,255,255,0.3)); filter: drop-shadow(1px 1px 80px rgba(255,255,255,0.3));}

.btsBg{ background-image:url('../img/btsbg.jpg');}

.btstxt{ color:#fff; font-size:40px; margin-top:15px;}

.btsTitle{  font-family:'futura_med';  font-size:30px; color:#fff; }


.btsthumb{ transition:all ease-out 0.2s; display:block;}
.btsthumb:hover{ transform:scale(1.05);}

.playIcn{ position:absolute; display:block; left:40%; top:25%; width:20%; z-index:999;}

.nomarg{ margin:0 !important; }
.nopad{ padding:0 !important; }


.whiteBg{ background-color:#fff; /*background-image:url('../img/testBg.jpg'); background-size:cover; background-position:50%;*/}

.shopImg{ position:relative; display:block;  transition:all ease-out 0.2s; padding:20px; margin:10px; text-align:center;}
.shopImg:hover{ transform:scale(1.1); box-shadow:11px 11px 20px rgba(0,0,0,0.5); }


.imginline{ display:inline-block;}

.ItemName{ color:#000; text-align:center; position:absolute; bottom:0%; width:100%; left:0%;}

.item_price{ color:#bb2828; font-size:40px;}

.item_details{ font-family:'raleway_semibold',sans-serif; color:#555555; font-size:24px;}

.item_description{ font-family:'raleway_semibold',sans-serif; color:#555555; font-size:18px;}

.item_list li{ list-style:none; font-family:'raleway_semibold',sans-serif; color:#555555; font-size:18px;}

.size{ width:50px; height:50px; display:block; border:2px solid #555; float:left; line-height:50px; text-align:center; margin:5px; text-decoration:none; font-weight:bold; color:#555; font-size:22px; font-family:'raleway_semibold',sans-serif; transition: all ease-out 0.2s; }

.size:hover{ text-decoration:none; transform:scale(1.1); background-color:#9e0b0f; color:#fff;}

.sztxt{      color: #555;
    font-size: 24px;
    font-family: 'raleway_semibold',sans-serif;
    margin-top: 25px;}

.cartbtn{ width: 212px;
    height: 55px;
    background-color: #9e0b0f;
    display: block;
    border-radius: 10px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    transition: all ease-out 0.2s;
    padding-left: 46px;
    text-transform: uppercase;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 7% 50%;}

.cartbtn:hover{ transform:scale(1.05);}

.cartbtn:hover{ text-decoration:none; color:#fff;}


/*BUY TICKETS*/

.buy_tkt { width:100%; float:left;}
.buy_tkt h2 { font-size:30px; text-align:center; margin:0px;}
.buy_wrp { width:100%; margin:0 auto; background-color:#0f0f0f; padding:5px; padding-top:25px;     display: table;}
.buy_wrp input { width:100%; padding:10px 15px; background-color:#fff; border-radius:5px; border:none; text-align:center; font-size:14px; margin:0 !important;}
.buy_wrp input::-webkit-input-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
   
}
.buy_wrp input::-moz-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp input:-ms-input-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp input:-moz-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp h3 { margin-top:15px; margin-bottom:15px; font-size:16px; text-align:center; font-weight:normal; font-family:'futura_med';}

.slt_blk { width:100%; float:left;}
.slt_blk select { padding:6px 10px;  border:solid 1px #222222; -webkit-appearance: none; border-radius:3px;     background-size: 17px; background-color:#191919; float:left; color:#fff; text-transform:uppercase; font-size:14px; background-image:url(../img/slt_bg.jpg); background-position:right top; background-repeat:no-repeat; width:48%; margin:0 1%;}
.slt_blk .slt { width:98%; margin:3% 1%;}
.tab_blk { width:100%; height:200px;     margin-top: 10px; background-color:#191919;     display: inline-table; border-top:solid 2px #222222;}
.loc { width:100%; float: left; padding:7px;}
.loc h3 { background-image:url(../img/loc.png); background-repeat:no-repeat; padding-left:17%; margin:0; font-family:'futura_med'; font-size:18px; text-align:left; background-size:39px; }
.loc p { font-size:14px; margin-top:5px; color:#fff; padding-left:17%;}
.loc p span { float:right;}
.tab { width:100%; float:left; margin-top:5px;}
.tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { background-color: #282828; border:none; color:#fff;}
.tab .nav-tabs>li>a { border:none; color:#aaaaaa; font-size:14px; text-align:center; line-height:16px;}
.nav-tabs>li { margin-bottom:-2px;}
.tab .nav-tabs>li>a span { font-size:12px;}
.tab .nav-tabs>li>a:hover { background-color: #282828; color:#fff;}
.tab .nav-tabs { border:none; margin-left:5px;}
.tab .tab-content { background-color:#282828; padding:5px; color:#fff; width:100%;   display: inline-block;}
.subt { font-size:14px; color:#909090; margin-bottom:5px; margin-top:8px;}
.mv_tit { font-size:14px; font-weight:bold; color:#fff; margin-bottom:10px;}
.mv_tms { width:100%; float:left; margin-bottom:15px;}
.mv_tms .shw { padding:5px 7px; text-decoration:none; float:left; background-color:#9c0b0b; border-radius:3px; font-weight:bold; border:solid 1px #b71a1a; color:#000; margin:0 3px;}
.mv_tms .shw:hover { background-color:#960b0b;}


.tktPoster{ display:inline-block; width:79%;}

.tktmap{ width:100%; height:602px; display:block;}

.buy_wrp h3{ color:#fff;}

.vol-control{ width:200px !important; margin:0 auto !important; margin-left:10px !important;}

.qw-track-play {
  display: inline-block;
    float: left;
    width: 40px;
    color: #fff !important;
    font-size: 37px;
    font-weight: normal !important;
    margin-right: 10px;
  margin-left:5px;
}

.qw-artists-names{ color:#e81d29 !important; font-weight:normal; font-size:12px;}
.art_title{ color:#f00 !important;}


.thumb_container{ width:100%; overflow-x:scroll !important; }

.thumb_container ul{  padding:0; margin:0; overflow-x:hidden; overflow-y:scroll;  display:table; nowrap }

.thumb_container ul li{ list-style:none; float:left;}
.thumb_container ul li a { width:275px; display:block; margin:2px;}

.statsWrap{ width:100%; background-color:rgba(0,0,0,0.7); position:absolute; top:0; bottom:0; left:0; right:0; opacity:0; transition: all 0.3s ease-out;}

.statsWrap:hover{ opacity:1;}

.statsWrap ul{ display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}
.statsWrap ul li{ display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;}
  
.statsIcon{  float:left; width:20px;}
.statsTxt{ float:left; color:#fff; text-decoration:none; margin-left:10px; font-family:'futura_med',sans-serif; font-size:18px; line-height:100%;}

.statsIcon, .statsTxt{ display:inline !important; vertical-align:middle;}

.IconsWrap{  width:80%; margin:26% auto;}

.videoShare{ width:auto; display:block; float:right;}

.videoShare h4{ float:left; color:#bbb; display:inline-block;}

.shareIcons{width:25px; height:25px; display:block; float:left; margin:10px; background-position:50%; background-size:contain; background-repeat:no-repeat; transition:all ease-out 0.2s;}

.shareIcons:hover{ transform:scale(1.2);}

.fb{ background-image:url('../img/share/fb.png');}
.twitter{ background-image:url('../img/share/twitter.png');}
.insta{ background-image:url('../img/share/insta.png');}
.pinterest{ background-image:url('../img/share/pinterest.png');}

.storyLogo{ position:absolute; bottom:5%; left:2.5%; width:10vw;}
.cart{ border-radius: 8px;
    line-height: 100%;
    font-size: 16px;
    padding: 12px 15px 12px 42px;
    position: absolute;
    top: 16%;
    color: #fff;
    font-family: 'wickedgrit', sans-serif;
    right: 10%;
   
  background-color: #9e0b0f;
    display: block;
  background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 16% 50%;}
  
.cart:hover, .cart:visited{ color:#fff; text-decoration:none;}



/**********LARGE SCREEN*********/

@media (min-width:1367px)and (max-width:1930px) {
.appbtn{ width:100%;}
.mynav{ height:105px;}
#head_navigation{ font-size:22px; margin-top:17px; }



.content_inner{ padding-top:93px;}

.apptxt{ font-size:31px;}
.appbtnContainer{ width:70%;}
.devicebtnContainer{ width:84%;}
.appleLogo{ width:101px;}

.iappstorebtn{ width:327px; height:110px;}
.apptxt{ font-size:22px;}

.padthty{ padding:30px; box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}
.btstxt{ color:#fff; font-size:65px; margin-top:100px;}

.btsTitle{ font-size:24px;}
.item_title{ font-size: 40px;}
.item_price{ font-size:52px;}

.item_description{ font-size:24px;}

.size{ width:80px; height:80px; line-height:80px;}

.cartbtn{ width:275px; height:65px;  border-radius:15px; line-height:65px; font-size:20px;}




.item_list li{ font-size:24px;}

.buy_wrp{ height:803px;}

.tktmap{ height:800px;}

.buy_wrp input{ padding:18px 22px;}

.slt_blk select{ padding:21px 10px; border-radius:8px; background-size: 33px;}

.loc h3{ font-size: 24px;
    text-align: left;
    background-size: 53px;}
  
.tab .nav-tabs>li>a{ font-size:18px;}

.nav>li>a{ padding:10px 22px;}

.subt{ font-size: 20px;}
.mv_tit{ font-size:18px;}

.mv_tms .shw {
    padding: 20px 30px; font-size: 16px;}
  
.tab_blk{ margin-top: 22px;}

.slt_blk select{ font-size:17px;}

}
/*************LARGE SCREEN*******/


@media (min-width:768px)and (max-width:1169px) {
.content{ background-size:cover;}
.logo_landing{ width:450px;}

.pos_left{ left:0; !important;}
.pos_right{ right:0 !important;}

.appdeschead{ font-size:45px;}

.item_title{ font-size: 30px;}
.item_price{ font-size:40px;}
.tktPoster{width:79%;}

.buy_wrp input{ height:}

}
@media (min-width:568px)and (max-width:767px) {
.logo_landing{ width:450px;}

}
@media (min-width:376px)and (max-width:767px) {

.content{ background-size:cover;}

.disabled{ display:none !important;}
.appbtnContainer{ width:100%;}
.apphead{ font-size:42px;}
.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 24px; text-align:center;}
.item_price{font-size:28px;}

.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}

  
}

@media (min-width:321px)and (max-width:375px) {

.content{ background-size:cover;}

.disabled{ display:none !important;}
.appbtnContainer{ width:100%;}
.appbtn{ width:100%;}
.apphead{ font-size:42px;}
.appsubhead{ font-size:24px;}
.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 20px; text-align:center;}
.item_price{ cfont-size:24px;}
.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}
}


@media (min-width:300px)and (max-width:320px) {
.content{ background-size:cover;}

.disabled{ display:none !important;}
.appbtn{ width:100%;}

.appsubhead{ font-size:20px;}

.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 18px; text-align:center;}
.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}